In [1]:
from pathlib import Path
import pandas as pd

In [2]:
BASE_DIR = Path("~/Documents/NTNU/Aneo Project")

In [8]:
WEATHER_DATA_PATH = BASE_DIR / "data" / "penmanshiel-2017" / "interpolated_data_2017.csv"
PENMANSHIEL_DATA_DIR = BASE_DIR / "data" / "penmanshiel-power"

In [10]:
weather_data = pd.read_csv(WEATHER_DATA_PATH)
penmanshiel_static = pd.read_csv(BASE_DIR / "data" / "Penmanshiel_WT_static.csv")
status_data_01 = pd.read_csv(PENMANSHIEL_DATA_DIR / "Penmanshiel_SCADA_2017_WT01-10_3114" / "Status_Penmanshiel_01_2017-01-01_-_2018-01-01_1042.csv", skiprows=9)
turbine_data_01 = pd.read_csv(PENMANSHIEL_DATA_DIR / "Penmanshiel_SCADA_2017_WT01-10_3114" / "Turbine_Data_Penmanshiel_01_2017-01-01_-_2018-01-01_1042.csv", skiprows=9)

In [15]:
# Rename issued col by issued_time
weather_data = weather_data.rename(columns={"issued": "issued_time", "time": "forecast_time"})
weather_data.head()

,entry_id,forecast_time,points,t2m,u10,v10,msl,tp,d2m,latitude,longitude,query_id,retrieval_id,issued_time,level,data_type,lookback_hours,step_granularity,timestamp
0,fd9aa172debffbca,2017-01-01 00:00:00,0.0,278.740549,1.596002,-4.216950,101696.614474,0.0,276.583418,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
1,fd9aa172debffbca,2017-01-01 00:00:00,1.0,278.742059,1.597728,-4.221247,101695.965452,0.0,276.607508,55.900008,-2.301268,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
2,fd9aa172debffbca,2017-01-01 00:00:00,2.0,278.801168,1.558426,-4.278164,101696.522317,0.0,276.591333,55.905943,-2.302690,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
3,fd9aa172debffbca,2017-01-01 00:00:00,3.0,278.796599,1.563392,-4.274745,101695.953072,0.0,276.612506,55.903294,-2.298367,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
4,fd9aa172debffbca,2017-01-01 00:00:00,4.0,278.797495,1.564618,-4.273132,101695.421327,0.0,276.633311,55.900951,-2.293967,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09

In [16]:
weather_data["issued_time"] = pd.to_datetime(weather_data["issued_time"], errors="coerce")
weather_data["forecast_time"] = pd.to_datetime(weather_data["forecast_time"], errors="coerce")
status_data_01["Timestamp start"] = pd.to_datetime(status_data_01["Timestamp start"], errors="coerce")
status_data_01["Timestamp end"] = pd.to_datetime(status_data_01["Timestamp end"], errors="coerce")
turbine_data_01["Date and time"] = pd.to_datetime(turbine_data_01["# Date and time"], errors="coerce")
turbine_data_01.drop(columns=["# Date and time"], inplace=True)

In [17]:
weather_data.head()

,entry_id,forecast_time,points,t2m,u10,v10,msl,tp,d2m,latitude,longitude,query_id,retrieval_id,issued_time,level,data_type,lookback_hours,step_granularity,timestamp
0,fd9aa172debffbca,2017-01-01,0.0,278.740549,1.596002,-4.216950,101696.614474,0.0,276.583418,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
1,fd9aa172debffbca,2017-01-01,1.0,278.742059,1.597728,-4.221247,101695.965452,0.0,276.607508,55.900008,-2.301268,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
2,fd9aa172debffbca,2017-01-01,2.0,278.801168,1.558426,-4.278164,101696.522317,0.0,276.591333,55.905943,-2.302690,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
3,fd9aa172debffbca,2017-01-01,3.0,278.796599,1.563392,-4.274745,101695.953072,0.0,276.612506,55.903294,-2.298367,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
4,fd9aa172debffbca,2017-01-01,4.0,278.797495,1.564618,-4.273132,101695.421327,0.0,276.633311,55.900951,-2.293967,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09

In [18]:
static_01 = penmanshiel_static[penmanshiel_static["Title"] == "Penmanshiel 01"].copy()
static_01

,Wind Farm,Title,Alternative Title,Identity,Manufacturer,Model,Rated power (kW),Hub Height (m),Rotor Diameter (m),Latitude,Longitude,Elevation (m),Country,Commercial Operations Date,Unnamed: 14
0,Penmanshiel,Penmanshiel 01,T01,MM82/59 82765-01,Senvion,MM82,2050.0,59.0,82.0,55.902502,-2.306389,212.26,UK,01/09/2016,NaN

In [19]:
status_data_01.drop_duplicates(inplace=True)
status_data_01.head()

,Timestamp start,Timestamp end,Duration,Status,Code,Message,Comment,Service contract category,IEC category
0,2016-12-30 13:21:20,2017-01-03 12:09:12,94:47:52,Informational,0,System OK,NaN,System OK (32),Full Performance
2,2017-01-03 12:09:12,2017-01-03 12:10:00,00:00:48,Informational,10,Wind < start wind,NaN,External stop (low wind speed) (5),Out of Environmental Specification
4,2017-01-03 12:09:13,2017-01-03 12:19:14,00:10:01,Stop,5760,Hydraulic oil flushing operation,NaN,Operating states (28),Technical Standby
5,2017-01-03 12:19:14,2017-01-03 12:26:51,00:07:37,Informational,0,System OK,NaN,System OK (32),Full Performance
7,2017-01-03 12:26:51,2017-01-03 12:27:38,00:00:47,Informational,10,Wind < start wind,NaN,External stop (low wind speed) (5),Out of Environmental Specification

The status tables are very interesting and could be used but we would need to discuss HOW to use them because there is a need for a lot of parsing of the different columns to get a clean "stopped"/"running" kind of column.

In [20]:
# This can easily be changed to include more or less columns

COLS_TO_KEEP = [
    "Date and time",
    "Energy Export (kWh)",
    # "Energy Export counter (kWh)",
    "Energy Import (kWh)",
    # "Energy Import counter (kWh)",
    "Power (kW)",
    # "Power, Standard deviation (kW)",
    # "Power, Minimum (kW)",
    # "Power, Maximum (kW)"
]

turbine_data_01_reduced = turbine_data_01[COLS_TO_KEEP]
turbine_data_01_reduced.head()

        Date and time  Energy Export (kWh)  Energy Import (kWh)   Power (kW)
0 2017-01-01 00:00:00                 98.0                  0.0   658.320007
1 2017-01-01 00:10:00                145.0                  0.0  1038.729980
2 2017-01-01 00:20:00                241.0                  0.0  1224.670044
3 2017-01-01 00:30:00                180.0                  0.0  1222.219971
4 2017-01-01 00:40:00                180.0                  0.0  1191.989990

In [21]:
turbine_data_01_reduced.columns

Index(['Date and time', 'Energy Export (kWh)', 'Energy Import (kWh)',
       'Power (kW)'],
      dtype='object')

In [22]:
# Group turbine_data_01_reduced by hour, taking the sum of Energy Export and Energy Import, and the mean of Power

turbine_data_01_reduced.set_index("Date and time", inplace=True)
turbine_01_hourly = turbine_data_01_reduced.resample("h").agg({
    "Energy Export (kWh)": "sum",
    "Energy Import (kWh)": "sum",
    "Power (kW)": "mean"
}).reset_index()

turbine_01_hourly.head()

        Date and time  Energy Export (kWh)  Energy Import (kWh)   Power (kW)
0 2017-01-01 00:00:00               1106.0                  0.0  1110.879995
1 2017-01-01 01:00:00               1053.0                  0.0  1049.443329
2 2017-01-01 02:00:00               1531.0                  0.0  1538.281657
3 2017-01-01 03:00:00               1564.0                  0.0  1570.388346
4 2017-01-01 04:00:00               1659.0                  0.0  1653.195007

In [23]:
print(f"The time range of status_data_01 is from {status_data_01['Timestamp start'].min()} to {status_data_01['Timestamp end'].max()}")
print(f"The time range of turbine_data_01 is from {turbine_data_01['Date and time'].min()} to {turbine_data_01['Date and time'].max()}")
print(f"The time range of weather_data is from {weather_data['forecast_time'].min()} to {weather_data['forecast_time'].max()}")

The time range of status_data_01 is from 2016-12-30 13:21:20 to 2018-01-01 06:11:44
The time range of turbine_data_01 is from 2017-01-01 00:00:00 to 2017-12-31 23:50:00
The time range of weather_data is from 2017-01-01 00:00:00 to 2018-01-02 12:00:00

In [24]:
start = pd.to_datetime("2017-01-01 00:00:00")
end = pd.to_datetime("2017-12-31 23:50:00")

In [25]:
weather_data_filtered = weather_data[(weather_data["forecast_time"] >= start) & (weather_data["forecast_time"] <= end)]
weather_data_filtered = weather_data_filtered[(weather_data_filtered["latitude"] == static_01["Latitude"].values[0]) & (weather_data_filtered["longitude"] == static_01["Longitude"].values[0])]

In [26]:
weather_data_filtered.head(30)

,entry_id,forecast_time,points,t2m,u10,v10,msl,tp,d2m,latitude,longitude,query_id,retrieval_id,issued_time,level,data_type,lookback_hours,step_granularity,timestamp
0,fd9aa172debffbca,2017-01-01 00:00:00,0.0,278.740549,1.596002,-4.216950,101696.614474,0.000000,276.583418,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
14,fd9aa172debffbca,2017-01-01 01:00:00,0.0,278.258434,0.225432,-4.559294,101724.987787,0.000434,275.701594,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
28,fd9aa172debffbca,2017-01-01 02:00:00,0.0,277.974213,0.613523,-5.657539,101754.892262,0.000549,274.212124,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
42,fd9aa172debffbca,2017-01-01 03:00:00,0.0,277.259331,1.240282,-5.321573,101795.172663,0.000551,273.774548,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
56,fd9aa172debffbca,2017-01-01 04:00:00,0.0,276.739767,1.383166,-5.654189,101878.671213,0.000556,273.484882,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
70,fd9aa172debffbca,2017-01-01 05:00:00,0.0,276.570727,1.648978,-6.393918,101923.517208,0.000561,273.402307,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
84,fd9aa172debffbca,2017-01-01 06:00:00,0.0,276.462527,2.022186,-6.714266,101965.440103,0.000568,273.169240,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
98,fd9aa172debffbca,2017-01-01 07:00:00,0.0,276.142849,2.419534,-6.324420,101986.826205,0.000570,273.147989,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
112,fd9aa172debffbca,2017-01-01 08:00:00,0.0,276.096894,2.544904,-5.973951,102065.735370,0.000571,272.709971,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
126,fd9aa172debffbca,2017-01-01 09:00:00,0.0,275.776590,3.462562,-4.398383,102110.637831,0.000571,272.404591,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
140,fd9aa172debffbca,2017-01-01 10:00:00,0.0,275.911045,4.414388,-3.849729,102159.677705,0.000571,272.287078,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
154,fd9aa172debffbca,2017-01-01 11:00:00,0.0,276.194002,4.983561,-3.772220,102171.227120,0.000573,272.139736,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
168,fd9aa172debffbca,2017-01-01 12:00:00,0.0,277.013163,4.615289,-5.383212,102142.353787,0.000574,272.816671,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
182,fd9aa172debffbca,2017-01-01 13:00:00,0.0,277.326431,1.136771,-8.947537,102186.330916,0.000812,273.427689,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
196,fd9aa172debffbca,2017-01-01 14:00:00,0.0,277.462395,-0.123023,-9.431078,102262.043789,0.000869,272.043132,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
210,fd9aa172debffbca,2017-01-01 15:00:00,0.0,276.741926,-0.099856,-9.464415,102382.373714,0.000991,273.256701,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
224,fd9aa172debffbca,2017-01-01 16:00:00,0.0,276.122662,-1.957926,-9.763816,102515.230967,0.001620,275.010654,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
238,fd9aa172debffbca,2017-01-01 17:00:00,0.0,276.389840,-1.263885,-8.236161,102652.365417,0.002431,275.232798,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
252,fd9aa172debffbca,2017-01-01 18:00:00,0.0,277.285200,-2.120078,-8.620564,102706.864825,0.002876,272.272880,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
266,fd9aa172debffbca,2017-01-01 19:00:00,0.0,277.223860,-1.624987,-8.121263,102798.345391,0.002962,270.889034,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
280,fd9aa172debffbca,2017-01-01 20:00:00,0.0,277.249243,-0.913020,-7.497922,102836.474358,0.002987,270.617509,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
294,fd9aa172debffbca,2017-01-01 21:00:00,0.0,277.150604,-1.104726,-7.553904,102911.400439,0.003083,270.627005,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
308,fd9aa172debffbca,2017-01-01 22:00:00,0.0,276.912069,0.537715,-6.523560,102981.874215,0.003128,270.442754,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
322,fd9aa172debffbca,2017-01-01 23:00:00,0.0,276.757104,1.537613,-5.998540,103011.441367,0.003132,270.280133,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
336,fd9aa172debffbca,2017-01-02 00:00:00,0.0,276.085329,3.049163,-4.759080,103049.440427,0.003132,270.585496,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
350,fd9aa172debffbca,2017-01-02 01:00:00,0.0,275.415594,3.537699,-4.278378,103075.307381,0.003132,270.745258,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
364,fd9aa172debffbca,2017-01-02 02:00:00,0.0,274.865431,4.091633,-3.692731,103072.141032,0.003132,270.334950,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
378,fd9aa172debffbca,2017-01-02 03:00:00,0.0,274.308995,4.141649,-2.712305,103071.489910,0.003132,270.157226,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
392,fd9aa172debffbca,2017-01-02 04:00:00,0.0,273.986760,4.510871,-2.265231,103042.552292,0.003132,270.115446,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09
406,fd9aa172debffbca,2017-01-02 05:00:00,0.0,273.630484,4.993805,-1.509079,103031.050399,0.003132,269.663245,55.902502,-2.306389,fd9aa172debffbca,50e18f9cad7c895a,2017-01-01,surface,fc,48.0,1.0,1.760180e+09

In [27]:
df = weather_data_filtered.merge(
    turbine_01_hourly,
    left_on="forecast_time",
    right_on="Date and time",
    how="left"
)
df.drop(columns=["Date and time"], inplace=True)

In [28]:
df.columns

Index(['entry_id', 'forecast_time', 'points', 't2m', 'u10', 'v10', 'msl', 'tp',
       'd2m', 'latitude', 'longitude', 'query_id', 'retrieval_id',
       'issued_time', 'level', 'data_type', 'lookback_hours',
       'step_granularity', 'timestamp', 'Energy Export (kWh)',
       'Energy Import (kWh)', 'Power (kW)'],
      dtype='object')

In [30]:
df['temperature_K'] = df['t2m']
df['temperature_C'] = df['temperature_K'] - 273.15
df.drop(columns=['t2m'], inplace=True)

In [31]:
cols_to_show = [
    'issued_time', 'forecast_time',
    'u10', 'v10', 'msl', 'tp', 'd2m',
    'temperature_C',
    'temperature_K', 'Energy Export (kWh)',
    'Energy Import (kWh)',
    'Power (kW)'
]
df[cols_to_show].head()

,issued_time,forecast_time,u10,v10,msl,tp,d2m,temperature_C,temperature_K,Energy Export (kWh),Energy Import (kWh),Power (kW)
0,2017-01-01,2017-01-01 00:00:00,1.596002,-4.216950,101696.614474,0.000000,276.583418,5.590549,278.740549,1106.0,0.0,1110.879995
1,2017-01-01,2017-01-01 01:00:00,0.225432,-4.559294,101724.987787,0.000434,275.701594,5.108434,278.258434,1053.0,0.0,1049.443329
2,2017-01-01,2017-01-01 02:00:00,0.613523,-5.657539,101754.892262,0.000549,274.212124,4.824213,277.974213,1531.0,0.0,1538.281657
3,2017-01-01,2017-01-01 03:00:00,1.240282,-5.321573,101795.172663,0.000551,273.774548,4.109331,277.259331,1564.0,0.0,1570.388346
4,2017-01-01,2017-01-01 04:00:00,1.383166,-5.654189,101878.671213,0.000556,273.484882,3.589767,276.739767,1659.0,0.0,1653.195007

In [32]:
df[df["Power (kW)"] > 0][cols_to_show].sort_values(by=["forecast_time", "issued_time"]).head()

,issued_time,forecast_time,u10,v10,msl,tp,d2m,temperature_C,temperature_K,Energy Export (kWh),Energy Import (kWh),Power (kW)
0,2017-01-01,2017-01-01 00:00:00,1.596002,-4.216950,101696.614474,0.000000,276.583418,5.590549,278.740549,1106.0,0.0,1110.879995
1,2017-01-01,2017-01-01 01:00:00,0.225432,-4.559294,101724.987787,0.000434,275.701594,5.108434,278.258434,1053.0,0.0,1049.443329
2,2017-01-01,2017-01-01 02:00:00,0.613523,-5.657539,101754.892262,0.000549,274.212124,4.824213,277.974213,1531.0,0.0,1538.281657
3,2017-01-01,2017-01-01 03:00:00,1.240282,-5.321573,101795.172663,0.000551,273.774548,4.109331,277.259331,1564.0,0.0,1570.388346
4,2017-01-01,2017-01-01 04:00:00,1.383166,-5.654189,101878.671213,0.000556,273.484882,3.589767,276.739767,1659.0,0.0,1653.195007

In [33]:
df.to_csv(BASE_DIR / "data" / "penmanshiel-pilot-2017.csv", index=False)